.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  top: 0;
  z-index: 50;
  min-height: 64px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar-logo {
  height: 32px;
  width: auto;
  transition: transform 0.2s ease;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

.navbar-link {
  color: #f5f5f5;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-link h2,
.navbar-link h3 {
  margin: 0;
  font-weight: 500;
  color: #f5f5f5;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar-right {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffc107;
  transition: width 0.3s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link-active h2,
.navbar-link-active h3 {
  color: #ffc107 !important;
}

.navbar-link-active {
  color: #ffc107 !important;
  position: relative;
}

.navbar-link-active::after {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffc107;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  position: relative;
  z-index: 1300;
}

.dropdown-wrapper::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  background: var(--primary-color);
  width: calc(12px + 8.6rem);
  border-bottom-left-radius: 8px;
  border: none;
  border-bottom-right-radius: 8px;
  padding: 0.5rem 0;
  opacity: 0;
  animation: dropdownFade 0.2s ease forwards;
  z-index: 1301;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-item {
  display: block;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  color: #f5f5f5;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.dropdown-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-item h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #c9c9ca;
  white-space: nowrap;
}

.dropdown-item-active h2 {
  color: #ffc107;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-left,
  .navbar-right {
    gap: 0.5rem;
  }

  .navbar-logo {
    height: 24px;
  }

  .navbar-link h2,
  .navbar-link h3 {
    font-size: 0.8rem;
  }
  .dropdown-menu {
    padding: 0.4rem 0;
    width: calc(12px + 6rem);
  }

  .dropdown-item h2 {
    font-size: 0.7rem;
  }
  .dropdown-item {
    padding: 0.625rem 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: row;
    padding: 0.5rem;
  }
  .dropdown-menu {
    padding: 0.3rem 0;
  }

  .dropdown-item {
    padding: 0.5rem 0.875rem;
  }

  .navbar-left,
  .navbar-right {
    width: auto;
    justify-content: flex-start;
    padding: 0;
    gap: 0.35rem;
  }

  .navbar-logo {
    height: 20px;
  }

  .navbar-link h2,
  .navbar-link h3 {
    font-size: 0.75rem;
  }

  .dropdown-item h2 {
    font-size: 0.65rem;
  }
}
