body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
}

h3,
h4 {
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #111827;
  font-size: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;

  
}

.navbar-left {
  display: flex;
  padding: 8px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10vw;
}

.navbar-logo {
  height: 30px;
  margin: 10px;
}

.navbar-title {
  margin: 0;
  font-size: 28px;
}

.navbar-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 5vw;
}

.navbar-right li {
  margin: 0 0px;
  padding: 0;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
}

nav a:hover {
  color: rgb(207, 207, 207);
}

#page-body {
  max-width: 80vw;
  margin: auto;
  padding-top: 64px;
}
