body {
  font-family: 'Geist', sans-serif;
  font-size: 16px;
  margin: 0;
}
@font-face {
  font-family: 'Geist';
  src: url('../../Geist[wght].woff2') format('woff2'),
       url('/fonts/mycustomfont.woff') format('woff'),
       url('/fonts/mycustomfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: var(--font-geist);
}
.MuiTypography-root,
.MuiButton-root,
.MuiChip-root {
  font-family: var(--font-geist) !important;
}
:root {
  --font-geist: 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
:root {
  --primary-color: #11141b;
  --secondary-color: #1f2937;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* want to comment out since is interrupting the look of other pages
 #page-body {
  max-width: 80vw;
  margin: auto;
} */

.instructor-select-field,
.term-select-field,
.percentage-select-field {
  margin: 15px 0;
  width: 100%;
  max-width: 300px;
}

.chart-container {
  width: 100%;
  height: auto;
}

.filters-container {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.instructor-select-field,
.term-select-field,
.percentage-select-field {
  flex: 1;
  max-width: 300px;
}

/* This is only for the dropdown/button row */
@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .nav {
    height: 10px;
  }

  .navbar-title {
    font-size: 20px;
  }

  .navbar-logo {
    height: 20px;
  }

  .navbar-left,
  .navbar-right {
    font-size: 16px;
  }

  #page-body {
    max-width: 100vw;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar-title {
    font-size: 24px;
  }

  #page-body {
    max-width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-title {
    font-size: 20px;
  }

  #page-body {
    max-width: 100vw;
  }
}

@media (min-width: 1000px) and (max-width: 1280px) {
  .navbar-title {
    font-size: 24px;
  }

  .instructor-select-field,
  .term-select-field,
  .percentage-select-field {
    max-width: 300px;
  }
}
